#div_total_search {
	/* font-size : 1em;             */
	border: 2px solid red;
	line-height: 55px;
	height: 125px;
}

.introduce {
	display: block;
	height: 20vh;
	width:100%;
	position: relative;
}

.introduce_list {
	position: absolute;
	height: 100%;
	display: inline-block;
	width: 20%;
}

.introduce_view {
	display: inline-block;
	position: absolute;
	width: 79%;
	height: 100%;
	flaot: top;
	left: 20%;
}

.foot_a_class {
	text-decoration: none; 
	color: white;
}

.foot_td {
	padding: 5px;
	text-align: center;
}

#foot_table {
	margin: auto;
	width: 100%;
}


#a_link {
	text-decoration: none;
	color: white;
	
}
   
.footer {
	display: block;
	position: relative;
	float: center;	
	background-color: gray;
	width: 100%;

}